#resizer-element {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px; /* Width of the resizer bar */
    background-color: #ddd;
    cursor: ew-resize; /* Cursor changes on hover */
}

#player {
    position: absolute !important;
    left: 50% !important;
    top: 100px !important;
    transform: translate(-50%, 0) !important;
}

#below {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}